.text-change {
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  font-size: xx-large;
}
.texto-main {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(90, 35, 32);
  background: linear-gradient(
    273deg,
    rgba(90, 35, 32, 1) 30%,
    rgba(221, 36, 28, 0.9037990196078431) 100%
  );
  opacity: 80%;
  margin: 0 25vw;
  min-height: 100vh;
}
.invitacion {
  margin-bottom: 25px;
}
.imagen-main {
  border: 5px solid rgb(124, 6, 6);
  height: 25vw;
  margin-bottom: 50px;
}
.parrafo {
  text-align: center;
  max-width: 31vw;
}
