.link-aboutus {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 10px;
  }
  .about-us-title {
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
  }
  .about-us-text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    padding: 100px;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .imagen-about {
    border: 5px solid rgb(124, 6, 6);
    height: 15vw;
    margin-top: 0;
  }
  .imagen-team {
    border: 5px solid rgb(124, 6, 6);
    height: 15vw;
    margin-top: 0;
    margin-bottom: 20px;
  }
  