@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.titulo-grande,
.titulo {
  font-size: 55px;
  font-family: "Mukta", sans-serif;
}

* {
  padding: 0;
  margin: 0px;
}

body {
  background-color: #e7e9f1;
  background-image: url(../img/fondo.png);
  background-repeat: repeat;
  background-size: 100%;
}

.burger-menu {
  display: none;
}

.ul-container {
  height: 30px;
  margin: auto 0;
}

.li {
  padding-bottom: 30px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(90, 35, 32);
  background: linear-gradient(
    273deg,
    rgba(90, 35, 32, 1) 30%,
    rgba(221, 36, 28, 0.9037990196078431) 100%
  );
  opacity: 80%;
  margin: 0 25vw;
  min-height: 100vh;
}

.titulo {
  color: white;
}

header {
  display: flex;
  background-color: #7c0606;
  justify-content: space-between;
  height: 100px;
}

.boton {
  font-size: 16px;
  transition: 0.5s;
}

.boton:hover {
  color: #fc6b6b;
  font-size: 20px;
}

ul li {
  list-style-type: none;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Mukta", sans-serif;
  font-size: large;
  list-style-type: none;
}

.navbar-container {
  padding-right: 0;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.navbar-link {
  margin: 0 2vw;
}

footer {
  justify-content: space-between;
  display: flex;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  margin-bottom: 0;
  padding-left: 10px;
  background-color: #7c0606;
  color: #f7f4f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.redes {
  height: 40px;
  margin-right: 30px;
}

.iconos {
  justify-content: flex-end;
  display: flex;
  margin-top: 30px;
}

.footer-calles {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 25px;
  margin-left: 30px;
}

.logo {
  height: 60px;
  margin-right: 30px;
  animation-name: logo;
  animation-duration: 1s;
  animation-timing-function: ease;
  position: absolute;
  animation-fill-mode: forwards;
}

.logo20 {
  height: 60px;
  margin-right: 30px;
  animation-name: logo20;
  animation-duration: 1s;
  animation-timing-function: ease;
  position: absolute;
  animation-fill-mode: forwards;
}

.logos {
  display: flex;
  width: 5vw;
}

.text-change {
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
}
.nav-link-main {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}
.promise-1 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  color: #3b0202;
  background-color: #e7e9f1;
  margin: 0;
  height: 100px;
  line-height: 100px;
  width: 99.2vw;
}
.imagen-mas-texto {
  justify-content: left;
  width: 99.2vw;
  background-color: #e7e9f1;
  height: 600px;
  line-height: 600px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.texto-main {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(167, 5, 5);
  background: linear-gradient(0deg, rgb(116, 3, 3) 0%, rgb(77, 4, 4) 100%);
  opacity: 90%;
  min-height: 100vh;
  color: aliceblue;
}

.invitacion {
  text-align: center;
  background-color: #e7e9f1;
  color: #3b0202;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 480px;
  margin-top: 0;
  margin-bottom: 50px;
}

.imagen-main {
  border: solid rgb(78, 13, 13);
  margin-left: 5vw;
  margin-bottom: 0;
  height: 25vw;
  max-height: 450px;
  box-shadow: 10px 10px 5px rgb(99, 98, 98);
}

.parrafo {
  padding-left: 5vw;
  max-width: 60vw;
  text-align: center;
  background-color: #e7e9f1;
  color: #3b0202;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.div-video {
  padding-bottom: 20px;
  padding-top: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-top: 40px;
  color: #3b0202;
  background-color: #e7e9f1;
}
.video {
  border: solid;
  border-color: #3b0202;
  box-shadow: 10px 10px 5px rgb(99, 98, 98);
  height: 45vw;
  width: 80vw;
  max-width: 900px;
  max-height: 600px;
}
.titulo-video {
  font-size: larger;
  font-weight: bold;
}
.supporters {
  align-items: stretch;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  height: 20vw;
  max-height: 250px;
  min-height: 160px;
  width: 99.2vw;
  background-color: #e7e9f1;
  color: #3b0202;
}
.supporters-title {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}
.supporters-logos {
  justify-content: center;
}
.sup-logo-pathfinder {
  padding-right: 5vw;
  height: 8vw;
  max-height: 100px;
}
.sup-logo-dnd {
  padding-right: 5vw;
  height: 8vw;
  max-height: 100px;
}
.sup-logo-wizards {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 8vw;
  max-height: 100px;
}

.link-aboutus {
  color: #4e0707;
  background: aliceblue;
  border: solid;
  border-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 10px;
}

.about-us-title {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  color: #4e0707;
  margin-top: 0px;
  padding: 0 5vw;
  width: 89.2vw;
  font-family: "Raleway", sans-serif;
}

.about-us-text {
  padding-top: 50px;
  background-color: aliceblue;
  color: #4e0707;
  margin-top: 30px;
  width: 89.2vw;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  padding: 10vw 5vw;
}
.about-us-text-2 {
  background-color: aliceblue;
  color: #4e0707;
  margin-top: 30px;
  width: 89.2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  padding: 5vw;
}
.signed {
  font-style: italic;
  font-size: larger;
}

.imagen-about {
  border: 5px solid #ffffff;
  height: 25vw;
  margin-top: 20px;
  background-color: aliceblue;
  box-shadow: 10px 10px 5px rgb(51, 1, 1);
}

.imagen-team {
  border: 5px solid #ffffff;
  height: 25vw;
  margin: 20px;
  box-shadow: 10px 10px 5px rgb(51, 1, 1);
}

.formulario-titulo {
  display: flex;
  background-color: #3b0202;
  justify-content: center;
  font-size: xx-large;
  margin-top: 200px;
  margin-bottom: 0px;
  padding: 20px;
}

.container-contacto {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 250px 250px 250px;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 800px;
}

.boton-color {
  background-color: #880909;
  border: black;
}

.boton-color:hover {
  background-color: #4e0707;
}

.div-control-form {
  display: block;
  justify-content: center;
  background-color: #3b0202;
  display: flex;
  flex-direction: column;
  width: 99.2vw;
  padding-bottom: 20px;
}

.container-tienda {
  padding-bottom: 60px;
  row-gap: 40px;
  column-gap: 40px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin-bottom: 20px;
}

.grid-title {
  display: flex;
  justify-content: center;
  background-color: #e7e9f1;
  color: rgb(99, 6, 6);
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-weight: bolder;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}
.price-item {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: medium;
}
.grid-item-description {
  font-family: Arial, Helvetica, sans-serif;
}
.grid-item {
  font-size: 12px;
  height: 300px;
  color: #4e0707;
  background-color: aliceblue;
  border: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.grid-item-title {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item-image {
  height: 100px;
  margin: 10px auto;
  border: solid rgb(109, 7, 7);
  border-radius: 16px;
  padding: 1px;
}

.titulo {
  font-size: 55px;
  font-family: "Raleway", sans-serif;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 40px 50px;
}
.card {
  border: solid;
  background: rgb(99, 3, 3);
  padding: 10px;
  min-height: 200px;
  color: rgb(90, 7, 7);
  background-color: aliceblue;
}
.events-title {
  margin-top: 0;
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 99vw;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(83, 6, 6);
  border: solid;
  border-color: aliceblue;
  padding-left: 100px;
  padding-right: 100px;
  background-color: aliceblue;
}
.btn {
  border-color: #3b0202;
  background-color: #4e0707;
}
.btn:hover {
  background-color: #7c0606;
}

@media only screen and (max-width: 1600px) and (min-width: 1024px) {
  .container {
    -ms-grid-columns: 200px 200px;
    grid-template-columns: 200px 200px;
    width: 500px;
  }
  .logos {
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 426px) {
  header {
    height: 150px;
    flex-direction: column;
  }
  .logo-container {
    justify-content: center;
    margin-left: 0;
  }
  .navbar-container {
    justify-content: center;
    align-items: center;
  }
  .imagen-main {
    height: 30vw;
  }
  .texto-main {
    font-size: large;
    margin: 0;
    height: auto;
    padding-bottom: 10px;
  }
  body {
    background-repeat: repeat;
  }
  footer {
    font-size: large;
    padding-left: 5px;
  }
  .iconos {
    margin-right: 20px;
  }
  .redes {
    height: 20px;
    margin-right: 10px;
  }
  .container {
    grid-template-columns: 150px 150px;
    width: 400px;
    grid-template-rows: auto;
  }
  .grid-item {
    margin: 16px 0;
  }
  .burger-menu {
    display: inherit;
    height: 8vw;
    margin: 1vw;
  }
  .logos {
    margin-right: 6vw;
  }
  .container-tienda {
    grid-template-columns: 1fr 1fr;
  }
  .text-change {
    font-size: large;
  }
  .imagen-mas-texto {
    height: 400px;
    line-height: 400px;
  }
  .titulo-video {
    font-size: large;
  }
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  .about-us-title {
    font-size: x-large;
  }
  .formulario-titulo {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 425px) {
  header {
    height: 150px;
    flex-direction: column;
  }
  .boton {
    font-size: 11px;
  }
  .titulo {
    font-size: 40px;
  }
  .logo20 {
    height: 45px;
  }
  .logo {
    height: 45px;
  }
  .logo-container {
    justify-content: center;
    margin-left: 0;
  }
  .navbar-container {
    justify-content: center;
    align-items: center;
  }
  .imagen-main {
    height: 40vw;
  }
  .texto-main {
    font-size: medium;
    margin: 0;
    height: auto;
    padding-bottom: 10px;
  }
  body {
    background-repeat: repeat;
  }
  footer {
    font-size: medium;
    padding-left: 5px;
  }
  .iconos {
    margin-right: 20px;
  }
  .redes {
    height: 20px;
    margin-right: 10px;
  }
  .container {
    grid-template-columns: 150px;
    width: auto;
    grid-template-rows: auto;
  }
  .grid-item {
    margin: 16px 0;
  }
  .burger-menu {
    display: inherit;
    height: 8vw;
    margin: 1vw;
  }
  .logos {
    width: 20vw;
  }
  .container-tienda {
    grid-template-columns: 1fr;
  }
  .text-change {
    font-size: medium;
  }
  .imagen-mas-texto {
    height: fit-content;
    line-height: normal;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
  }
  .titulo-video {
    font-size: medium;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
  .about-us-title {
    font-size: large;
  }
  .about-us-text {
    font-size: medium;
  }
  .about-us-text-2 {
    font-size: medium;
  }
  .formulario-titulo {
    margin-top: 50px;
  }
}

@-webkit-keyframes logo {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  47.8% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  47.8% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes logo20 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  47.8% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes logo20 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  47.8% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
